---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import imagePortrait from "../assets/images/portrait.png";
import imageSimonTrichereau from "../assets/images/works/portfolio-simon-trichereau.jpg";
import imageBusante from "../assets/images/works/busante.jpg";
import imageVoxoffice from "../assets/images/works/voxoffice.jpg";
import imageVisualizer from "../assets/images/works/visualizer.jpg";
import imageAurea from "../assets/images/works/aurea.jpg";
import imageJab from "../assets/images/works/jab.jpg";
import imageCentauri from "../assets/images/works/centauri.jpg";
import imageAnimation from "../assets/images/works/animation.jpg";
import imageVetogeek from "../assets/images/works/vetogeek.jpg";
import imageEvad from "../assets/images/works/evad.jpg";
import imageLimbo from "../assets/images/works/limbo.jpg";
import imageSpotted from "../assets/images/works/spotted.jpg";
import imageIbanez from "../assets/images/works/ibanez.jpg";
---

<Layout title="Pierre PRÉZELIN // Intégrateur - Webdesigner">
  <main>
    <a href="#home" class="btn btn-up"></a>
    <!-- Home -->
    <section class="section section-home is-parallaxed" id="home">
      <div class="overlay-pattern"></div>
      <div class="title-home">
        <h1>Pierre Prézelin.</h1>
        <h3>Intégrateur // Webdesigner</h3>
      </div>
      <div class="cookie">
        <p>
          En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies pour conserver la langue
          sélectionnée.
        </p>
      </div>
      <a href="#about">
        <span class="icon icon-scroll"></span>
      </a>
    </section>
    <!-- Punchline -->
    <section class="section-punchline is-hidden" id="punchline">
      <div class="row">
        <h2>I <strong>code</strong>, I <strong>design</strong> and</h2>
        <h1>I iz <span>dolan</span>.</h1>
      </div>
    </section>
    <!-- Early Access Portfolio -->
    <section class="section-early-access is-hidden" id="early-access">
      <section>
        <div class="row-small">
          <h2>Portfolio avec accès anticipé</h2>
          <h3>
            Commencez à visiter dès à présent et <del>impliquez-vous</del> visitez ce portfolio pendant son développement.
          </h3>
          <p>
            <span>Remarque :</span>Ce <del>jeu</del> portfolio à accès anticipé peut changer ou ne pas changer de façon significative.
            Si vous n'êtes pas enthousiasmé de visiter ce portfolio dans son état actuel, vous devriez peut-être attendre
            que le portfolio se développe davantage.
          </p>
        </div>
      </section>
      <section>
        <div class="row-small">
          <p>Ce que le développeur a à dire :</p>
          <h3>
            <strong>Pourquoi l'Accès anticipé ?</strong>
          </h3>
          <p>
            <em>
              “Ce portfolio a déjà une tonne de contenus (5 sections, une douzaine de couleurs en incluant les
              principales, des nuances de gris, des dégradés...) Aussi, vous trouverez des informations de contact, des
              travaux, de l'humour et bien plus... Je veux donner aux gens la possibilité de visiter ce portfolio dès à
              présent ! Cela me donne en retour une chance d'avoir des visiteurs supplémentaires et d'ajouter toujours
              plus de contenus optimisés et user-friendly (sans DLC, c'est promis).”
            </em>
            <hr />
          </p>
        </div>
        <div style="text-align: center;">
          <a href="#" title="Fermer cette notification" class="btn btn-steam">Compris</a>
        </div>
        <div class="clear"></div>
      </section>
    </section>
    <!-- About -->
    <section class="section section-about" id="about">
      <div class="row">
        <h2 class="title title-section title-about">À propos</h2>
        <h3 class="subtitle subtitle-about">Vous trouverez ici plus d'informations sur moi.</h3>
        <div class="content">
          <p><big>Hi.</big></p>
          <p>
            Je suis Pierre Prézelin, intégrateur et webdesigner.
          </p>
          <p>
            Du design au développement, en passant par l'audiovisuel et la communication, découvrir de nouvelles choses
            à propos du web et en général est ce qui me motive tous les jours. Dans mes heures perdues, je pratique la
            guitare, le basket, et aime jouer aux jeux vidéo entre amis ou produire de la musique. <br /><br />Vous
            trouvez ici plusieurs exemples de mes travaux, plus d'informations sur mes compétences et comment me
            contacter ou me trouver sur les réseaux sociaux.
          </p>
          <p><strong>Bonne visite !</strong></p>
        </div>
        <div class="content">
          <Image src={imagePortrait} width="200" height="200" alt="(C'est bien moi)" />
        </div>
        <div class="clear"></div>
        <a
          href="../assets/images/documents/cv-fr.pdf"
          title="Télécharger mon CV (nouvelle fenêtre)"
          class="btn btn-primary btn-cv is-ninja"
          target="_blank"
        >
          <span>Télécharger mon CV</span>
        </a>
      </div>
    </section>
    <!-- Works -->
    <section class="section section-works" id="works">
      <div class="row">
        <div class="title-container">
          <h2 class="title title-section title-works">Travaux</h2>
        </div>
        <h3 class="subtitle subtitle-works">L'endroit idéal si vous voulez quelques exemples de mes travaux.</h3>
        <ul class="list list-filters-container">
          <li class="list list-item list-filters active-filter" data-category="all">Tous</li>
          <li class="list list-item list-filters" data-category="dev">Intégration & Développement Web</li>
          <li class="list list-item list-filters" data-category="webdesign">Webdesign</li>
          <li class="list list-item list-filters" data-category="graphic">Graphisme</li>
          <li class="list list-item list-filters" data-category="audiovisual">Audiovisuel</li>
        </ul>
        <ul class="list list-works-container clearfix">
          <li class="list list-item list-works webdesign graphic">
            <Image src={imageSimonTrichereau} width="550" height="550" alt="" />
            <div class="works-overlay">
              <h4>Simon Trichereau</h4>
              <ul class="list">
                <li class="list list-item more-item">
                  <a
                    href="https://www.figma.com/file/r4z0bmmYHEX42Wm2sEcXW0/Ressources?node-id=0%3A1"
                    title="Découvrir le projet sur Figma (nouvelle fenêtre)"
                    target="_blank"
                  >
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="list list-item list-works webdesign graphic">
            <Image src={imageBusante} width="550" height="550" alt="" />
            <div class="works-overlay">
              <h4>Busanté</h4>
              <ul class="list">
                <li class="list list-item more-item">
                  <a
                    href="https://www.behance.net/gallery/95009993/Busant?"
                    title="Découvrir le projet sur Behance (nouvelle fenêtre)"
                    target="_blank"
                  >
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="list list-item list-works dev webdesign graphic">
            <Image src={imageVoxoffice} width="550" height="550" alt="" />
            <div class="works-overlay">
              <h4>VoxOffice</h4>
              <p>
                (avec <a href="http://simon-tr.com" title="Vers le portfolio de Simon Trichereau" target="_blank">
                  Simon Trichereau
                </a>)
              </p>
              <ul class="list">
                <li class="list list-item more-item">
                  <a
                    href="https://www.behance.net/gallery/33909780/VoxOffice"
                    title="Découvrir le projet sur Behance (nouvelle fenêtre)"
                    target="_blank"
                  >
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="list list-item list-works audiovisual">
            <Image src={imageVisualizer} width="550" height="550" alt="" />
            <div class="works-overlay">
              <h4>Visualizer</h4>
              <ul class="list">
                <li class="list list-item more-item">
                  <a
                    href="https://vimeo.com/404136016"
                    class="strip"
                    data-strip-caption="Reproduction du visualizer Monstercat sous After Effects."
                    title="Lancer la vidéo"
                    target="_blank"
                  >
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="list list-item list-works dev">
            <Image src={imageAurea} width="550" height="550" alt="" />
            <div class="works-overlay">
              <h4>Auréa</h4>
              <p>
                (dans le cadre d'un stage à <a href="https://www.rc2c.fr/" title="Vers le site d'RC2C" target="_blank">
                  RC2C
                </a>)
              </p>
              <ul class="list">
                <li class="list list-item link-item">
                  <a href="https://aurea.eu" title="Vers le site d'Auréa (nouvelle fenêtre)" target="_blank"></a>
                </li>
              </ul>
            </div>
          </li>
          <li class="list list-item list-works dev">
            <Image src={imageJab} width="550" height="550" alt="" />
            <div class="works-overlay">
              <h4>Armèle & Loïck</h4>
              <p>
                (dans le cadre d'un stage à <a href="https://www.rc2c.fr/" title="Vers le site d'RC2C" target="_blank">
                  RC2C
                </a>)
              </p>
              <ul class="list">
                <li class="list list-item link-item">
                  <a
                    href="http://armele-loick.rc2c.fr/index.html"
                    title="Vers le site des Jeunes Agriculteurs de Bretagne (nouvelle fenêtre)"
                    target="_blank"
                  >
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="list list-item list-works graphic">
            <Image src={imageCentauri} width="550" height="550" alt="" />
            <div class="works-overlay">
              <h4>Centauri Vision</h4>
              <ul class="list">
                <li class="list list-item more-item">
                  <a
                    href="/images/works/centauri_big.jpg"
                    class="strip"
                    data-strip-caption="Pochettes d'album pour le projet musical Centauri Vision (synthwave)."
                    title="Agrandir"
                  >
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="list list-item list-works dev graphic">
            <Image src={imageAnimation} width="550" height="550" alt="" />
            <div class="works-overlay">
              <h4>New Reborn</h4>
              <ul class="list">
                <li class="list list-item more-item">
                  <a
                    href="/images/works/animation_big.jpg"
                    class="strip"
                    data-strip-caption="Un jeu de plates-formes dans le thème cyberpunk, développé en JavaScript, HTML et CSS."
                    title="Agrandir"
                  >
                  </a>
                </li>
                <!-- <li class="list list-item link-item">
                    <a
                      href="https://v2.pierre-prezelin.com/new-reborn"
                      title="Jouer !"
                      target="_blank"
                    >
                    </a>
                  </li> -->
              </ul>
            </div>
          </li>
          <li class="list list-item list-works graphic">
            <Image src={imageVetogeek} width="550" height="550" alt="" />
            <div class="works-overlay">
              <h4>Vetogeek</h4>
              <ul class="list">
                <li class="list list-item more-item">
                  <a
                    href="/images/works/vetogeek_big.jpg"
                    class="strip"
                    data-strip-caption="Un logo crée pour une page Facebook sur l'actualité scientifique en médecine vétérinaire."
                    title="Agrandir"
                  >
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="list list-item list-works dev">
            <Image src={imageEvad} width="550" height="550" alt="" />
            <div class="works-overlay">
              <h4>EVAD</h4>
              <p>
                EVAD (avec <a href="http://simon-tr.com" title="Vers le portfolio de Simon Trichereau" target="_blank">
                  Simon Trichereau
                </a> et <a
                  href="https://www.audreylecuona.com"
                  title="Vers le portfolio d'Audrey Lecuona"
                  target="_blank"
                >
                  Audrey Lecuona
                </a>)
              </p>
              <ul class="list">
                <li class="list list-item link-item">
                  <a href="http://evad-ensemble.fr/" title="Vers le site de l'EVAD (nouvelle fenêtre)" target="_blank">
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="list list-item list-works webdesign">
            <Image src={imageLimbo} width="550" height="550" alt="" />
            <div class="works-overlay">
              <h4>Limbo</h4>
              <ul class="list">
                <li class="list list-item more-item">
                  <a
                    href="/images/works/limbo_big.jpg"
                    class="strip"
                    data-strip-caption="Exercice de refonte du site officiel du jeu vidéo Limbo."
                    title="Agrandir"
                  >
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="list list-item list-works audiovisual">
            <Image src={imageSpotted} width="550" height="550" alt="" />
            <div class="works-overlay">
              <h4>SPOTTED!</h4>
              <ul class="list">
                <li class="list list-item more-item">
                  <a
                    href="https://vimeo.com/87037781"
                    class="strip"
                    data-strip-caption="Animation du logo SPOTTED! réalisée sous After Effects, utilisée comme générique."
                    title="Lancer la vidéo"
                    target="_blank"
                  >
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="list list-item list-works graphic">
            <Image src={imageIbanez} width="550" height="550" alt="" />
            <div class="works-overlay">
              <h4>Ibanez RG7420</h4>
              <ul class="list">
                <li class="list list-item more-item">
                  <a
                    href="/images/works/ibanez_big.jpg"
                    class="strip"
                    data-strip-caption="Guitare électrique Ibanez (modèle RG7620) crée avec Illustrator."
                    title="Agrandir"
                  >
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- Skills -->
    <section class="section section-skills" id="skills">
      <div class="row">
        <div class="title-container">
          <h2 class="title title-section title-skills">Compétences</h2>
        </div>
        <h3 class="subtitle subtitle-skills">Je conserve ici tout ce que j'apprends au fil du temps.</h3>
        <ul class="list">
          <li class="list list-item list-skills">
            <div class="list-skills-header">
              <span class="ripple-mask"></span>
            </div>
            <h4>Web</h4>
            <section>
              <p>HTML5 & CSS3</p>
              <p>JavaScript (VueJS, jQuery)</p>
              <p>Préprocesseurs (Sass, LESS)</p>
              <p>Task runners (Grunt, Gulp)</p>
              <p>Versioning (Git)</p>
              <p>CMS (WordPress)</p>
            </section>
            <li class="list list-item list-skills">
              <div class="list-skills-header">
                <span class="ripple-mask"></span>
              </div>
              <h4>Design graphique</h4>
              <section>
                <p>Sketch, Figma</p>
                <p>Photoshop</p>
                <p>Illustrator</p>
                <p>InDesign</p>
              </section>
            </li>
            <li class="list list-item list-skills">
              <div class="list-skills-header">
                <span class="ripple-mask"></span>
              </div>
              <h4>Audiovisuel</h4>
              <section>
                <p>DAWs (Reaper, Pro Tools, FL Studio)</p>
                <p>Premiere Pro</p>
                <p>After Effects</p>
              </section>
            </li>
            <li class="list list-item list-skills">
              <div class="list-skills-header">
                <span class="ripple-mask"></span>
              </div>
              <h4>Communication</h4>
              <section>
                <p>E-mailing (MJML)</p>
                <p>Référencement (SEO)</p>
                <p>Méthodes agiles</p>
              </section>
            </li>
            <li class="list list-item list-skills">
              <div class="list-skills-header">
                <span class="ripple-mask"></span>
              </div>
              <h4>Langues</h4>
              <section>
                <p>Français (langue maternelle)</p>
                <p>Anglais (professionnel)</p>
                <p>Allemand (élémentaire)</p>
              </section>
            </li>
            <li class="list list-item list-skills">
              <div class="list-skills-header">
                <span class="ripple-mask"></span>
              </div>
              <h4>Environnements</h4>
              <section>
                <p>Windows</p>
                <p>Mac</p>
                <p>Linux</p>
              </section>
            </li>
          </li>
        </ul>
      </div>
    </section>
    <!-- Get in touch -->
    <section class="section section-contact" id="contact">
      <div class="overlay-pattern"></div>
      <div class="row">
        <div class="title-container">
          <h2 class="title title-section title-contact">Contact</h2>
        </div>
        <h3 class="subtitle subtitle-contact">Si vous désiriez me contacter, vous êtes au bon endroit !</h3>
        <ul class="list list-getInTouch">
          <li class="list list-item list-item-contact contact-mail">
            <a href="mailto:pierre.prezelin01@gmail.com" title="Envoyez-moi un mail" target="_blank">
              <div class="contact-overlay">
                <i class="fa fa-paper-plane fa-2x"></i>
              </div>
              <i class="fa fa-envelope fa-3x"></i>
              <p>business@pierreprezelin.com</p>
            </a>
          </li>
          <li class="list list-item list-item-contact contact-social">
            <ul class="list">
              <li class="list-item list-item-social social-github">
                <a href="https://github.com/OldsunFlush" title="Vers ma page GitHub (nouvelle fenêtre)" target="_blank">
                  <i class="fa fa-github fa-2x"></i>
                </a>
              </li>
              <li class="list-item list-item-social social-codepen">
                <a
                  href="https://codepen.io/OldsunFlush/"
                  title="Vers ma page CodePen (nouvelle fenêtre)"
                  target="_blank"
                >
                  <i class="fa fa-codepen fa-2x"></i>
                </a>
              </li>
              <li class="list-item list-item-social social-behance">
                <a
                  href="https://www.behance.net/PierrePrezelin"
                  title="Vers ma page Behance (nouvelle fenêtre)"
                  target="_blank"
                >
                  <i class="fa fa-behance fa-2x"></i>
                </a>
              </li>
              <li class="list-item list-item-social social-linkedin">
                <a
                  href="https://www.linkedin.com/pub/pierre-pr%C3%A9zelin/85/902/612"
                  title="Vers ma page LinkedIn (nouvelle fenêtre)"
                  target="_blank"
                >
                  <i class="fa fa-linkedin fa-2x"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
    <!-- Map -->
    <section class="section-map">
      <section>
        <div class="row">
          <h2 class="title title-section title-map">Merci de votre visite</h2>
        </div>
      </section>
    </section>
  </main>
</Layout>
